#passwords
*.ini

# ipython metadata
*ipynb_checkpoints*
*.DS_Store

# python stuff
*.pyc

# data
*.txt
*.json
.idea/
notebooks/src/

imwithdata/imwithdata.egg-info/not-zip-safe

*.egg

imwithdata/data/static_data/final_data_example.csv

imwithdata/build/lib/imwithdata/utils/__init__.py

imwithdata/build/lib/imwithdata/es_etl/twitter_batch_compare.py

imwithdata/build/lib/imwithdata/es_etl/issues_actions.py

imwithdata/build/lib/imwithdata/es_etl/es_etl.py

imwithdata/build/lib/imwithdata/es_etl/data_to_sql.py

imwithdata/build/lib/imwithdata/es_etl/__init__.py

imwithdata/build/lib/imwithdata/__init__.py


imwithdata/data/static_data/votesmart_officials.csv
