[google.api]
api_key = 

[globalgiving.api]
api_key = 

[twitter.api]
consumer_key = 
consumer_secret = 
access_token =  
access_token_secret =

[aws.creds]
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY = 

[facebook.api]
api_id = 
app_secret = 

[elasticsearch]
host = 
port = 
kibana_port = 

[pop3.email]
gmail_user = 
gmail_password =

[votesmart]
key=